<h1>Students</h1>
 <% @students.each do |user| %>
   <ul> 
    <li><h1> <%= user["first_name"] %>  <%= user["last_name"] %> </h1></li> 
    <li><h3> <%= user["email"] %> and <%= user["phone_number"] %></h3> </li>
  </ul>
 <% end %>









<h1>Search Profile</h1>
<%= form_tag "/students", method: "get" do %>
  <div class="form-group">
    City: <input type="text" class="form-control" name="City" >
  </div>
  <div class="form-group">
    State: <input type="text" class="form-control" name="State">
  </div>
 
  <input type="submit" class="btn btn-default" value="Submit">
<% end %>





